<%- include('./header.ejs') %>
    <h1>LISTE DES SALLES</h1>
    <ul>
        <% for(var i = 0; i <data.length; i++){%>
        <li>
            <a>salle : <%= data[i].salle_name %></a>  
            <a href="/salle/<%=data[i].id_salle%>"><button class="btn btn-primary">update</button></a>
            <a href="/api/delete/salle/<%=data[i].id_salle%>"><i>&#10060;</i></a>
        </li>
        <%}%>
    </ul>
<%- include('./footer.ejs') %>